#auth-wrapper {
    margin-top: 6vh;
    width: 100%;
}

#auth-wrapper input {
    width: 45%;
    padding: 4px 8px;
    border: #c5cae9 5px solid;
    border-radius: 10px;
    font-size: 2rem;
    color: #757575;
    margin: auto auto 3vh;
    min-width: 180px;
    max-width: 330px;
    display: block;
}

#auth-wrapper input:invalid {
    border-color: red;
}

#error-alert {
    width: 90%;
    min-width: 180px;
    font-size: 2rem;
    margin: 3vh auto auto;
    color: #757575;
}

.log-in-out-btn {
    margin: 5vh auto auto;
}

.log-in-out-btn:disabled {
    background-color: #ff9db5;
    cursor: default;
}

.auth-loading:disabled {
    background-color: transparent;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #3f51b5 solid 3px;
    border-left: none;
    border-top: none;
    animation: rotate 1s linear infinite;
    cursor: default;
}

.auth-success:disabled {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: default;
    border: #3f51b5 solid 3px;
    animation: bounce 1s ease-in;
    background: transparent center no-repeat url("../img/tick.svg");
}
