* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Helvetica Inserat, Arial Black, sans-serif;
}

#logo {
    margin: auto;
    height: 12vh;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #c5cae9;
    overflow-x: hidden;
    overflow-y: auto;
}

#root {
    width: 100vw;
    height: 100vh;
}

#main-container {
    display: block;
    position: absolute;
    background-color: #fff;
    text-align: center;
}

@media (max-width: 790px), (max-height: 435px) {

    @media handheld {
        body {
            overflow-y: hidden;
            background-color: #fff;
        }
    }

    #main-container {
        width: 100%;
        border-radius: 0;
        padding: 16vh 18vw;
        height: 100%;
        overflow-y: auto;
    }

    #logo {
        min-height: 50px;
    }

}

@media (max-aspect-ratio: 5 / 2) and (max-width: 1200px), (max-width: 480px), (max-height: 250px){
    html {
        font-size: 50%;
    }
}

@media (min-width: 790px) and (min-height: 435px) {

    #main-container {
        min-width: 350px;
        max-width: 780px;
        min-height: 430px;
        max-height: 550px;
        width: 45%;
        height: 75%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        padding: 5vh 5vw;
        box-shadow: 0 0 25px rgba(63, 81, 181, 0.5);
        -moz-box-shadow: 0 0 25px rgba(63, 81, 181, 0.5);
        -webkit-box-shadow: 0 0 25px rgba(63, 81, 181, 0.5);
    }

    #logo {
        margin-top: 2.5vh;
        min-height: 80px;
    }

}

.log-in-out-btn {
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 4px 8px;
    width: 30%;
    min-width: 120px;
    max-width: 220px;
    font-size: 2rem;
    cursor: pointer;
    transition: bounce, rotate ease 0.5s;
}

.log-in-out-btn:enabled:hover {
    box-shadow: 0 0 15px #ff9db5;
    -moz-box-shadow: 0 0 15px #ff9db5;
    -webkit-box-shadow: 0 0 15px #ff9db5;
}

.log-in-out-btn:enabled:active {
    box-shadow: 0 0 15px #ff4081;
    -moz-box-shadow: 0 0 15px #ff4081;
    -webkit-box-shadow: 0 0 15px #ff4081;
}

#main-container input:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 15px #c5cae9;
    -moz-box-shadow: 0 0 15px #c5cae9;
    -webkit-box-shadow: 0 0 15px #c5cae9;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.log-out:disabled {
    color: #757575;
    background-color: transparent;
    animation: bounce 1s ease-in;
}