#authorized-view-wrapper {
    height: 80%;
    width: 100%;
    padding: 2vh 0;
}

#search-icon {
    display: flex;
    height: 3.5rem;
}

#search-bar-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}

#search-input {
    width: 90%;
    display: flex;
    padding: 4px 8px;
    border: #c5cae9 5px solid;
    border-radius: 10px;
    font-size: 2rem;
    color: #757575;
}

#users-list-container {
    border-radius: 10px;
    background-color: #c5cae9;
}

#shadow-dropper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 8px 10px -10px #3f51b5 inset, 0 -8px 10px -10px #3f51b5 inset;
    -moz-box-shadow: 0 8px 10px -10px #3f51b5 inset, 0 -8px 10px -10px #3f51b5 inset;
    -webkit-box-shadow: 0 8px 10px -10px #3f51b5 inset, 0 -8px 10px -10px #3f51b5 inset;
    pointer-events: none;
}

#users-list-container * {
    display: block;
}

.user-link {
    background-color: #fff;
    text-decoration: none;
    font-size: 2rem;
    color: #757575;
    margin: 0.8vh 0.5vw;
    border-radius: 10px;
    padding: 4px 8px;
}

.user-link:hover {
    color: #3f51b5;
    box-shadow: 0 0 7px #3f51b5;
    -moz-box-shadow: 0 0 7px #3f51b5;
    -webkit-box-shadow: 0 0 7px #3f51b5;
}

.log-in-out-btn {
    margin-top: 2vh;
}

#distribution-container {
    height: 80%;
    min-height: 180px;
}

#user-info-wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 6vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.column {
    height: 100%;
}

.column p {
    font-size: 2rem;
    color: #757575;
    display: block;
    margin: 0 20px;
    text-align: left;
}

#loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #3f51b5 solid 3px;
    border-left: none;
    border-top: none;
    animation: rotate 1s linear infinite;
    margin: 6vh auto auto;
}

.btn-pusher {
    padding-top: 5vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#prev-user-btn {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background: center no-repeat url("../img/prevUsr.svg");
    background-size: cover;
}

#prev-user-btn:hover {
    background: center no-repeat url("../img/prevUsrHvr.svg");
    background-size: cover;
}

#next-user-btn {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background: center no-repeat url("../img/nextUsr.svg");
    background-size: cover;
}

#next-user-btn:hover {
    background: center no-repeat url("../img/nextUsrHvr.svg");
    background-size: cover;
}

#back-to-list {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    color: transparent;
    background: center no-repeat url("../img/backToList.svg");
}

#back-to-list:hover {
    background: center no-repeat url("../img/backToListHvr.svg");
}

#container {
    max-width: 800px;
    margin: auto;
}

.scroll-track {
    height: 80%;
    position: absolute;
    right: 10px;
    top: 20px;
}

.scroll-thumb {
    border-radius: 3px;
    background-color: #c5cae9;
    opacity: 0.9;
    box-shadow: 0 0 10px #3f51b5;
    cursor: pointer;
}